* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: monospace, sans-serif;
}

body {
    background-color: $bg;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.nav {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    padding-top: 5rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    .main-title{
        font-size: 13.5rem;
        //position: relative;
        color: $btn-bg;
        margin-bottom: 1rem;
        text-shadow: -5px 4px 0px blueviolet;
    }

    .main-paragraph {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 800;
    }
}

img {
    width: 75px;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.btn {
    background-color: $btn-bg;
    border: 1.5px solid #000;
    padding-top: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.9rem;
    font-size: 1.5rem;
    width: auto;
    border-radius: 5px;

    span {
        text-transform: uppercase;
        color: $bg;
        font-weight: 800;
       
    }
}

.btn:hover {

    background-color: antiquewhite;
    cursor: pointer;
    
    span {
        color: aquamarine;
    }
}
